.features-page {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: #0f0f0f;
}

.feature-box {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.feature-box:hover {
  transform: translateY(-5px);
  background: #222;
}

.feature-box h3 {
  margin-bottom: 10px;
  color: #ff4655;
}

.page-hero {
  padding: 140px 40px 80px; /* fixes navbar overlap */
  text-align: center;

  background: radial-gradient(circle at center, #1a1a1a 0%, #0f0f0f 70%);
  color: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .features-page {
    grid-template-columns: 1fr;
  }
}